* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #9ff054;
}

nav {
  background-color: #54ebf0;
}

main {
  background-color: #f0a754;
}

footer {
  background-color: #b254f0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5 {
  width: 20%;
  height: 20%;
  padding: 4rem;
  border: 2px solid black;
  margin: 2rem;
}

.box-1 {
  background-color: #9ff054;
}
.box-2 {
  background-color: #b254f0;
}
.box-3 {
  background-color: brown;
}
.box-4 {
  background-color: cornflowerblue;
}
.box-5 {
  background-color: chocolate;
}
